{% extends "base.html" %}
{% load static %}


{% block title %}
    All Posts
{% endblock %}




{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css'%}?v=2">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}?v=2">
   
  
{% endblock %}


{% block content %}
    <section id="all-posts">
        <h1>
            My Collection
        </h1>
        <h3>Feel Free To Check Out</h3>
        <ul>
            {% for post in all_posts %}
        {% include "blog/includes/post.html" %}
            {% endfor %}

        </ul>
    </section>

{% endblock %}